mkdocs-markdownextradata-plugin==0.2.5
mkdocs-include-markdown-plugin==3.7.1
mkdocs-kroki-plugin==0.3.0
mkdocs-material==8.5.0
mkdocs-minify-plugin==0.5.0
mkdocs-redirects==1.1.0
pygments==2.13.0
pymdown-extensions==9.5
