/*
 * Copyright (c) 2022 Matthias Geisler (bitPogo) / All rights reserved.
 *
 * Use of this source code is governed by Apache License, Version 2.0
 */

package tech.antibytes.gradle.dependency.config

internal object DependencyConfig {
    const val android: String = "ANDROID"
    const val kotlin: String = "KOTLIN"
    const val owasp: String = "OWASP"
}
